.button2 {
  border: none;
  color: white;
	background-color:#233;
  padding: 10px 10px 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px 10px 30px;
  transition-duration: 0.4s;
  cursor: pointer;
	border-radius:2px;
}


#butt{
	display: inline-block;
}

#buttonDiv{
	width: 100%;
	
}

#headerDiv{
	width:100%;
}


body{
	text-align:center;
	font-family: 'Ubuntu', sans-serif;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	display: inline-block;
}

#resultsDiv{
  display: inline-block;
  width: 100%;
}

#mainLink{
	display: block;
	font-size:20pt;
	margin-top: -10px;
	margin-bottom:10px;
}

.hitDivUnseen{
	display: inline-block;
  width: 80%;
	background-color:#F12A;
	padding-top:5px;
	padding-bottom:5px;
	margin: 5px 40px;
	
}

a{
	font-family: 'Ubuntu', sans-serif;
	text-decoration:none;
	color:purple;
}

.titles{
	font-size:14pt;
}

a: visited{
	font-family: 'Ubuntu', sans-serif;
	text-decoration:none;
	color: black;
}
.hitDivSeen{
	display: inline-block;
  width: 80%;
	background-color:#FFFA;
	padding-top:5px;
	padding-bottom:5px;
  margin: 5px 40px;
}

h4{
	margin-top:3px;
	margin-bottom:3px;
	display:inline-block;
}
